<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KartotekiWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KartotekiWPF.Properties.Settings>
            <setting name="boolExportTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="booIExportsrednik" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolExportPrzecinek" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolExportWlasny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textExportWlasny" serializeAs="String">
                <value />
            </setting>
            <setting name="boolImportDOC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolImportTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolImportWlasny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textImportwlasny" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxKodPocztowy" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxMiejcscowoscGdyBrakWTabeli" serializeAs="String">
                <value />
            </setting>
        </KartotekiWPF.Properties.Settings>
    </userSettings>
</configuration>